@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Patua+One&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato';
}

/*Scrollbar - barra de rolagem vertical mudando as cores*/
::-webkit-scrollbar {
    width:15px;
    height: 5px;
}
::-webkit-scrollbar-track {
        background:white;
}
::-webkit-scrollbar-thumb {
        background: #cf7a00;
}
/**/

/* background só mundando a cor do body em geral*/
body{
    background-color: #000017;
}
.background_home{
    background-image:url(imagens/slider4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* classe para <b> mudar a cor e ficar bonitinho*/
b{
    color:#cf7a00;
}
/*mesma coisa so <b>*/
c{
    font-size: 24px;
    color:#0000ff;
}
c:hover{
    text-decoration:underline;
}
o{
    color:red;
}
/*mudando a li e a de forma geral*/
li, a{
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

/*cabeçalho, onde fica a navbar com os links para navegar no site, inicio, sobre, etc*/
header{
    background-color:#000017;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
}

/*classe para mudar o ponteiro do mouse quando passar em cima do logo*/
.logo{
    cursor: pointer;
}

/*ul da navbar*/
.nav__links{
    list-style: none;
}
/*a navbar é feita em li (lista) aq muda ela*/
.nav__links li {
    display: inline-block;
    padding: 0px 15px;
}
/*quando passar o mouse por cima dos itens da lista da navbar*/
.nav__links li a:hover{
    color:#cf7a00;
}

/*container home*/
.home{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0px 5%;
}

/*estilizaçao do container home*/
.container{
    margin-top: 40px; 
}
.container ul{
    background-image: url(imagens/1234.png);
    border-radius: 10px;
    background-size: cover;
    padding: 10px 20px 30px 20px;
}

/*estilização da lista dentro do container*/
.container li{
    list-style: none;
    margin-top: 15px;
}
.container h3{
    font-family: Arial, Helvetica, sans-serif;
}
/*container dentro do outro container para posicionar os itens de social e deixa-los dispostos de forma diferente do container principal*/
.container_social{
    display: flex;
    margin-top: 5px;
    margin-bottom: 90px;
    align-items: center;
}

.container_social li,img,p{ 
    display: inline-block;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 100%;
}
.container_social img:hover{
    opacity: 0.8;
}
/*container para dispor as informaçoes de forma corretamente espaçada, tudo no centro tendo um padding que de um visual interessante*/
.container_sobre_e_conhecimentos{
    align-items: center;
    padding: 40px 13.5% 60px;
    display: block;
    background-color: #110933;
}
.sobre_mim{
    background-color: #000017;
    border-radius: 10px;
    margin-top: 40px;
    
}
.sobre_mim p{
    text-align: center;
    font-size: 24px;
    padding:40px 35px 40px 40px;
}
/*container que dispoem os itens um do lado do outro no centro*/
.conhecimentos{
    margin-top: 40px;
    display: flex;
    justify-content: center ;
   
}
/*lista estilizando os itens dentro de forma organizada, um do lado do outro em linha, quebrando esta quando necessario, dispondo um em cima do outro*/
.conhecimentos li{
    margin-left: 20px;
    margin-bottom: 20px;
    list-style: none;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color:#000017;
    border-radius: 10px;
}
/*span que serve de titulo para os conteudos da li, colocada no centro dentro da li*/
.conhecimentos span{
    margin-top: 12px;
    font-size: 28px;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
}
/*paragrafo da li de conhecimentos no centro com padding para dar as distancias corretas*/
.conhecimentos p{
    padding-left:20px;
    padding-right:20px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.conhecimentos img{
    margin-top: 16px;
    width: 100px;
    border-radius: 0%;
}



/*formulario para contato*/
.container_formulario{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    background-image: url(imagens/backgroundContato.png);
    background-size: cover;
}

.container_formulario label{
    display: flex;
    justify-content: left;
    margin-top:  20px;
    font-size: 20px;
    font-family: "Lato",sans-serif;
}
.formulario_input{
    color: black;
    margin-top: 10px;
    display: block;
    max-width: 450px;
    max-height: 100px;
    width: 380px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 1rem;
    outline: transparent;
}


.formulario_botao{
    margin-top: 10px;
    margin-bottom: 35px;
    display: block;
    max-width: 450px;
    max-height: 100px;
    width: 380px;
    height: 50px;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    background-color: rgb(207, 122, 0);
    color:white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.formulario_botao:hover{
    background-color: rgb(219, 157, 71);
}
.container_formulario ul{
    background-image: url(imagens/12345.png);
    border-radius: 10px;
    background-size: cover;
    padding: 10px 20px 10px 20px;
}

.copyright{
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 10px 5%;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
